Repository Galaxia5987/robot-2022, pull requests merged in 2022-02, with the labels that each got.

#57 Hotfix/value tuner
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/valuetuner/NetworkTableConstant.java
Labels: bug, Priority: Medium, tuning

#56 Intake
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/Ports.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/intake/Intake.java
  src/main/java/frc/robot/subsystems/intake/commands/IntakeByRobotSpeed.java
  src/main/java/frc/robot/subsystems/intake/commands/IntakeCargo.java
Labels: subsystem, Priority: Critical

#49 Shooter
  gradle/wrapper/gradle-wrapper.properties
  simgui-ds.json
  simgui-window.json
  simgui.json
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/Ports.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/hood/Hood.java
  src/main/java/frc/robot/subsystems/shooter/Shooter.java
  src/main/java/frc/robot/subsystems/shooter/commands/Shoot.java
  src/main/java/frc/robot/utils/Utils.java
Labels: subsystem, Priority: Critical

#63 Upgrade gradle dependencies
  build.gradle
Labels: Priority: Medium

#58 Feature/conveyor
  .idea/.gitignore
  simgui-window.json
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/Ports.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/conveyor/Conveyor.java
  src/main/java/frc/robot/subsystems/conveyor/commands/CargoIn.java
  src/main/java/frc/robot/subsystems/conveyor/commands/ConveyorDefaultCommand.java
  src/main/java/frc/robot/subsystems/conveyor/commands/Feed.java
  src/main/java/frc/robot/subsystems/conveyor/commands/SetFlapMode.java
Labels: subsystem, Priority: Critical

#61 Feature/climber
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/Ports.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/climber/Climber.java
  src/main/java/frc/robot/subsystems/climber/commands/AdjustAngle.java
  src/main/java/frc/robot/subsystems/climber/commands/JoystickClimb.java
  src/main/java/frc/robot/subsystems/climber/commands/StopClimber.java
Labels: subsystem, Priority: Critical

#67 Update integration ports
  src/main/java/frc/robot/Ports.java
Labels: Priority: Medium

#71 Vision LEDs
  src/main/java/frc/robot/Ports.java
  src/main/java/frc/robot/utils/PhotonVisionModule.java
Labels: Priority: Critical, vision

#80 Intake bits
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/subsystems/intake/Intake.java
  src/main/java/frc/robot/subsystems/intake/commands/bits/RetractorTest.java
Labels: subsystem, Priority: High, testing

#64 Feature/command groups
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/Ports.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commandgroups/DynamicConditionalCommand.java
  src/main/java/frc/robot/commandgroups/FeedWithIntake.java
  src/main/java/frc/robot/commandgroups/Outtake.java
  src/main/java/frc/robot/commandgroups/PickUpCargo.java
  src/main/java/frc/robot/commandgroups/ShootCargo.java
  src/main/java/frc/robot/subsystems/UnitModel.java
  src/main/java/frc/robot/subsystems/conveyor/Conveyor.java
  src/main/java/frc/robot/subsystems/conveyor/commands/CargoIn.java
  src/main/java/frc/robot/subsystems/conveyor/commands/Convey.java
  src/main/java/frc/robot/subsystems/conveyor/commands/ConveyorDefaultCommand.java
  src/main/java/frc/robot/subsystems/conveyor/commands/Feed.java
  src/main/java/frc/robot/subsystems/conveyor/commands/SetFlapMode.java
  src/main/java/frc/robot/subsystems/flap/Flap.java
  src/main/java/frc/robot/subsystems/flap/commands/FlapCommand.java
  src/main/java/frc/robot/subsystems/hood/Hood.java
  src/main/java/frc/robot/subsystems/hood/commands/HoodCommand.java
  src/main/java/frc/robot/subsystems/intake/Intake.java
  src/main/java/frc/robot/subsystems/intake/commands/IntakeCargo.java
  src/main/java/frc/robot/subsystems/intake/commands/bits/RetractorTest.java
  src/main/java/frc/robot/subsystems/shooter/Shooter.java
  src/main/java/frc/robot/subsystems/shooter/commands/Shoot.java
  src/main/java/frc/robot/subsystems/shooter/commands/bits/CheckShooterAccuracy.java
  src/main/java/frc/robot/subsystems/shooter/commands/bits/ManualFlywheelControl.java
Labels: subsystem, Priority: Critical, integratiom

#44 Swerve
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/Ports.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/UnitModel.java
  src/main/java/frc/robot/subsystems/drivetrain/SwerveDrive.java
  src/main/java/frc/robot/subsystems/drivetrain/SwerveModule.java
  src/main/java/frc/robot/subsystems/drivetrain/commands/DriveSlowAcceleration.java
  src/main/java/frc/robot/subsystems/drivetrain/commands/HolonomicDrive.java
  src/main/java/frc/robot/subsystems/drivetrain/commands/MoveTo.java
  src/main/java/frc/robot/subsystems/drivetrain/commands/TankDrive.java
  src/main/java/frc/robot/subsystems/drivetrain/commands/TurnToAngle.java
  src/main/java/frc/robot/subsystems/drivetrain/commands/testing/AngleMotorsSpeedTest.java
  src/main/java/frc/robot/subsystems/drivetrain/commands/testing/DriveMotorsEqualVelocityTest.java
  src/main/java/frc/robot/subsystems/drivetrain/commands/testing/DriveMotorsSpeedTest.java
  src/main/java/frc/robot/subsystems/drivetrain/commands/testing/EncoderSlippageTest.java
  src/main/java/frc/robot/subsystems/drivetrain/commands/testing/HelpfulZeroing.java
  src/main/java/frc/robot/subsystems/drivetrain/commands/testing/VoltageTest.java
  src/main/java/frc/robot/subsystems/drivetrain/commands/tuning/DriveForward.java
  src/main/java/frc/robot/subsystems/drivetrain/commands/tuning/Rotate.java
  src/main/java/frc/robot/utils/PhotonVisionModule.java
  src/main/java/frc/robot/utils/SwerveModuleConfig.java
  src/main/java/frc/robot/utils/SwerveModuleConfigBase.java
  src/main/java/frc/robot/utils/SwerveModuleConfigDebug.java
  src/main/java/frc/robot/utils/TimeDelayedBoolean.java
  src/main/java/frc/robot/utils/Units.java
  src/main/java/frc/robot/utils/Utils.java
  src/main/java/frc/robot/utils/VisionEstimationData.java
  src/main/java/frc/robot/utils/commands/SimulateDrivetrainDefaultCommand.java
  vendordeps/PathplannerLib.json
  vendordeps/WPILibNewCommands.json
Labels: subsystem, Priority: Critical

#87 Remove unused files
  src/main/deploy/firelog/bootstrap.min.css
  src/main/deploy/firelog/constants.html
  src/main/deploy/firelog/dashboard.html
  src/main/deploy/firelog/index.html
  src/main/deploy/firelog/jquery.min.js
  src/main/deploy/firelog/values.html
  src/main/deploy/firelog/view.html
  src/main/deploy/firelog/vision.html
  src/main/java/webapp/FireLog.java
  src/main/java/webapp/RedirectApplet.java
  src/main/java/webapp/StateApplets.java
  src/main/java/webapp/StateSocket.java
Labels: Priority: Low, cleanup

#86 Feature/command groups bits
  src/main/java/frc/robot/commandgroups/bits/TestBallFlow.java
  src/main/java/frc/robot/subsystems/conveyor/Conveyor.java
  src/main/java/frc/robot/subsystems/intake/Intake.java
Labels: Priority: Critical, tuning, testing
